extends ../_layouts/base

include ../_modules/molecules/breadcrumbs/breadcrumbs
include ../_modules/molecules/rte/rte
include ../_modules/atoms/share/share
include ../_modules/molecules/img-card/img-card
include ../_modules/atoms/button/button
include ../_modules/atoms/input-text/input-text

block config
	//- Correct base url pathing for this page
	- var baseUrl = '../'
	- var primaryNav = '1'
	- var site = htmlWebpackPlugin.options

block content

	.container
		+breadcrumbs({
			"items": [
				{
					"link": "/",
					"name": "Home"
				},
				{
					"link": "/landing-page",
					"name": "Learning Activities"
				},
				{
					"link": "#",
					"name": "National Arts Council Activities"
				}
			]
		})
		
		.row
			.col-md-8.col-sm-8.col-xs-12

				article.story-article.standard-page

					+share({ "__class": "top"})

					h2.section-title National Arts Council (NAC)

					+rte()

						.image-container
							img(src='/assets/ecda/images/pics/standard-1.jpg')

						p The National Arts Council (NAC) believes that the arts are an integral part of all Singaporean's lives and exposure should begin from a young age. NAC hopes that children can enjoy the benefits of learning in and through the arts. As such, NAC is committed to helping all pre-schoolers have access to quality arts education for expression, learning and reflection.

						p Click on the thumbnails below to download or read more about the resources developed by NAC for the pre-school sector!

						h3 Arts Integration in Pre Schools

						p In collaboration with various partners in the early childhood sector, the National Arts Council (NAC) has initiated some pilot programmes to widen arts exposure for children at all levels as part of core curriculum, co-curricular activities and/or enrichment programmes, as well as initiatives to better equip artists and early childhood educators to deliver arts programmes for children.

						p The Artist-In-School Scheme (AISS) is a collaboration between NAC and Early Childhood Development Agency (ECDA) to enhance the quality of arts education in pre-schools. The AISS is a professional development programme where teachers will acquire knowledge and skillsets on a specific art form through hands-on training workshops with the artist(s) and integrate the chosen art form into the curriculum. The programme also seeks to provide opportunities for children to be exposed to the art form through the professional artist(s) and their teachers.

						<iframe width="560" height="315" src="https://www.youtube.com/embed/dArrA3CXfc8" frameborder="0" allowfullscreen></iframe>

						h3 Arts Education Programmes for early learners (K1 &amp; K2)

						p Together with representatives from the arts and early childhood sectors, NAC has curated a database of arts programmes suitable for pre-schoolers. These quality arts activities are led by professional artists and arts educators with the relevant qualifications and experiences in delivering programmes for children.

						.image-container
							img(src='/assets/ecda/images/pics/standard-2.jpg')

						a.btn(href="#") Download PDF

						h3 The A-List

						p The A-List is a fortnightly publication by #[a(href="#") NAC], featuring a 14-day event listing and must-read articles about the arts and culture scene in Singapore. It includes arts related programmes and events suitable for the family.

						.image-container
							img(src='/assets/ecda/images/pics/standard-3.jpg')

						a.btn(href="#") Visit Website

						+share()

			.col-md-3.offset-md-1.col-sm-3.offset-sm-1.col-xs-12
				.other-stories.sidebar
				
					h2.section-title You may also like

					each item, index in site.data.stories
						if index != 0 && index < 4
							.story-cards__card-container(class=index != 1 ? 'no-mobile' : '', class=index == 3 ? 'no-tablet' : '')
								+img-card({
									"__class": item.class,
									"__title": item.title,
									"__image": item.image,
									"__category": item.category,
									"__text": item.text,
									"__storypage": 1,
									"__profileimage": item.profileimage,
									"__profilename": item.cite,
									"__position": item.position,
									"__link": item.link,
									"__linktext": ""
								})
					.other-media
						.newsletter
							h3.title
								i.icon-email
								| Newsletter Sign-up
							p Get the latest updates on events and initiatives from the ECDA.
							.subscribe
								+input-text({
									"__class": "input-subscribe", 
									"__placeholder": "Email address",
									"_name": "subscribe"
								})
								+button({
									"__type": "button",
									"__class": "btn--white",
									"__link": "#",
									"__text": "Subscribe"
								})