// story-banner styles

.story-banner {
	position: relative;
	background: #fff;
	margin-top: -50px;
	padding: 50px 20px 20px;
	text-align: center;

	@include desktop {
		padding: 100px 100px 20px;
		margin-top: -100px;
	}

	.profile-image {
		position: absolute;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		overflow: hidden;
		border: 3px solid #fff;
		top: -50px;
		left: 50%;
		margin-left: -50px;
		z-index: 3;
		box-shadow: $boxshadow-darkgrey;

		@include desktop {
			width: 200px;
			height: 200px;
			top: -100px;
			margin-left: -100px;
		}

		img {
			@include objectfit;
		}
	}

	&:after {
		background: repeating-linear-gradient(to right, $orange 50px, $orange 100px, $blue 100px, $blue 150px, $green 150px, $green 200px, $maroon 200px, $maroon 250px);
		position: absolute;
		content: '';
		height: 6px;
		right: 0;
		left: 0;
		top: 0;

		@include tablet {
			background: repeating-linear-gradient(to right, $orange 100px, $orange 200px, $blue 200px, $blue 300px, $green 300px, $green 400px, $maroon 400px, $maroon 500px);
		}

		@include desktop {
			background: repeating-linear-gradient(to right, $orange 100px, $orange 200px, $blue 200px, $blue 300px, $green 300px, $green 400px, $maroon 400px, $maroon 500px);
		}
	}

	blockquote {
		&:before {
			color: $green;
		}

		cite {
			span:first-of-type {
				font-weight: bold;
			}
		}
	}
}