include ../../atoms/share/share
include ../../molecules/rte/rte

mixin story-article(spec)
	- spec = spec || {}
	- spec.__class = spec.__class || ''

	article.story-article

		+share({ "__class": "top"})

		h2.section-title We need to always enhance our skills and learn new things

		+rte()

			p To Madam Dolly Chan, infant educarer at ELFA Preschool @Serangoon, a chance to volunteer at a friend’s infant care centre instilled in her a strong passion for children, which led to more than 10 fulfilling years in the early childhood sector.

			p Dolly Chan is a shining example of how age is not a factor when it comes to learning new things.

			p Most people at the age of 50 would be looking to taking it easy in life and cruising towards retirement. However, Madam Chan did the exact opposite by embarking on a career in early childhood, a profession she had no prior experience in.

			p Madam Chan had been working in the administrative sector since her ‘O’ Levels and only took a break from the corporate world in the mid-2000s to tend to her family. In 2007, while she was still on break, Madam Chan received a call from a friend, asking if she would be able to lend a hand at an infant care centre.

			.two-col
				.image-container
					img(src='/assets/ecda/images/pics/stories-1.jpg')
				.image-container
					img(src='/assets/ecda/images/pics/stories-2.jpg')

			p Though hesitant because of her lack of relevant experience, Madam Chan eventually agreed. What started out as a simple favour soon turned into a passion – Madam Chan has spent the past decade in the early childhood sector, having worked in several centres across the island.

			p "I thought since I wasn’t really busy, I would just do (my friend) a favour and help out for a short while. I soon discovered that I had no problems with the new job. Routine care like changing diapers as well as feeding and bathing babies were simple tasks to me. In fact, I was having fun! That was when I realised this was my calling in life," said the 60-year-old.

			p While infant educarers at ELFA Preschool share the same set of responsibilities regardless of age, Madam Chan insists she is not at a disadvantage, when compared to her younger colleagues. She said: “Age is just a number.”

			p Rather, she noted that health is what really matters.

			p Her maturity and experience has been a boon for ELFA Preschool, especially when it comes to managing parents. According to Madam Chan, some parents display a lack of confidence in the abilities of young infant educarers and would rather speak with someone they consider more senior. This is where she comes in.

			.image-container
				img(src='/assets/ecda/images/pics/stories-3.jpg')

			blockquote 
				| But to be honest, it’s not really about age - it’s about how you talk to a parent. You’ve got to be casual and friendly so that they can feel at ease and be willing to confide in you.

			p "New parents are typically quite cynical. It’s natural because they don’t know you and what you can do. We have to be patient and update them on their child constantly. It’s all about building a relationship with the parents."

			p One of the things Madam Chan enjoys doing the most at work is handcrafting simple toys for the children. She makes most of these toys from rudimentary materials such as cardboard boxes to help the children improve their motor and cognitive skills.

			p Madam Chan said that creating toys allows infant educarers to better refine their teaching processes to meet specific needs of individual children. For instance, when a child has already become adept at slotting objects of different shapes into the holes, Madam Chan would create another toy with smaller holes to give them more of a challenge.

			.two-col
				.image-container
					img(src='/assets/ecda/images/pics/stories-4.jpg')
				.image-container
					img(src='/assets/ecda/images/pics/stories-5.jpg')

			p Though working in the early childhood sector for 10 years, Madam Chan said that the most memorable moment took place in January this year when she had to manage a nerve-racking situation involving a child named Elizabeth.

			p After a colleague had taken Elizabeth’s temperature and found that she was having a fever, Madam Chan proceeded to sponge the child’s forehead. Soon after, Elizabeth had a fit. Well-trained in child first aid, Madam Chan and her colleagues immediately placed the child in a recovery position and sought permission from the parents to take her to the clinic. These decisive actions earned her the praise of the child’s parents.

			.two-col
				.image-container
					img(src='/assets/ecda/images/pics/stories-6.jpg')
				.image-container
					img(src='/assets/ecda/images/pics/stories-7.jpg')

			p Over the past decade, Madam Chan has been constantly learning new skills and going for at least two specialised training courses per year. She said it is very important for infant educarers to constantly upgrade themselves so that they can keep up with the latest child development pedagogies.

			p "We need to always enhance our skills and learn new things. All the things I have recently learned about teaching art, music and movement to infants were never taught in the past. Today, these are all essential to a child’s development," said Madam Chan, who has two sons aged 26 and 29.

			p "I’ve learned so much about babies because of this career and I now know what to do when I have my own grandchildren in the future. I really like this job because it is not a routine office job. I get to play with children and interact with parents!"

			.tags
				label
					i.icon-tag
					span Tags:

				ul.tag-list
					li 
						a.tags(href="#") Resources
					li
						a.tags(href="#") Learning
					li
						a.tags(href="#") Art
					li
						a.tags(href="#") Activities
					
			+share()