// header styles

.header {
	padding: 10px 0;
	position: fixed;
	width: 100%;
	z-index: 20;
	background: #fff;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	height: 60px;

	@include tablet {
		height: 75px;
	}

	@include desktop {
		height: auto;
		padding: 12px 0;
	}

	@include desktop {
		position: relative;
		padding-bottom: 0;
	}

	& + main {
		padding-top: 60px;

		@include tablet {
			padding-top: 75px;
		}

		@include desktop {
			padding-top: 0;
		}
	}

	.logo-container {
		display: inline-block;

		.logo {

			&:first-of-type img {
				margin-top: 5px;
				padding-right: 15px;
				border-right: 1px solid $grey3;
				float: left;

				@include mobile {
					width: 130px;
					padding-right: 15px;
				}

				@include tablet {
					max-width: 200px;
				}
			}

			&:last-of-type img {
				margin-top: 5px;
				padding-left: 15px;
				float: right;

				@include mobile {
					width: 60px;
					padding-left: 15px;
				}

				@include tablet {
					max-width: 80px;
				}
			}

			@include mobile {
				max-width: 180px;
			}

			@include tablet {
				max-width: 400px;
			}

			@include desktop {
				max-width: 400px;
				margin: 20px 0;
				float: left;
			}
		}
	}

	.mobile-menu {
		position: absolute;
		width: 42px;
		height: 60px;
		top: -60px;
		right: 0;
		border: 0;
		padding: 10px;
		background: #fff;
		outline: 0;

		@include tablet {
			height: 75px;
			top: -75px;
		}

		.line {
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
			height: 4px;
			width: 30px;
			background: $grey5;
			transition: transform .35s ease-in-out, width .35s ease-in-out;

			&:nth-child(2) {
				transform: translateY(-8px) scaleX(1);
			}

			&:nth-child(3),
			&:nth-child(4) {
				transform: rotate(0deg);
			}

			&:nth-child(5) {
				transform: translateY(8px) scaleX(1);
			}
		}

		&.is-active {

			.line {
				&:nth-child(2),
				&:nth-child(5) {
					transform: translateY(0) scaleX(0);
				}

				&:nth-child(3) {
					transform: rotate(45deg);
				}

				&:nth-child(4) {
					transform: rotate(-45deg);
				}
			}
		}
	}

	.social-media {
		padding: 0 30px 30px;
	}
}

.header__main .container,  {
	@include desktop {
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
}

.nav-container {
	position: absolute;
	background: $grey1;
	left: 0;
	right: 0;
	display: none;
	overflow: auto;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	color: $text;

	@include desktop {
		color: #fff;
		position: relative;
		background: transparent;
		box-shadow: none;
		padding: 0;
		display: inline-block !important;
		overflow: visible;
	}

	.nav-gov-links {
		list-style: none;
		margin: 15px 0;
		padding: 0 30px;

		li {
			display: inline-block;
			width: 32%;
		}

		a {
			display: block;
			padding: 10px 0;
		}
	}
}

.header__search-bar {
	background: $grey1;
	position: relative;
	left: 0;
	right: 0;
	padding: 20px 30px;

	@include desktop {
		position: static;
		padding: 0;
		float: right;
		box-shadow: none;
		background: none;
		margin-top: 10px;
		width: 300px;
	}

	input {
		width: calc(100% - 36px);
		padding: 10px;
		border: 0;
		height: 40px;
		line-height: 40px;
		border-radius: 0;
		-webkit-appearance: none;

		@include desktop {
			width: calc(100% - 40px);
			background: $grey1;
			font-size: (14/$base) * 1em;
			height: 36px;
			padding: 0 10px;
			line-height: 36px;
			float: left;
		}
	}

	button {
		padding: 5px;
		width: 36px;
		height: 40px;
		float: right;
		border: 0;
		background: #fff;

		@include desktop {
			background: $grey1;
			width: 40px;
			height: 36px;
			padding: 0 5px;
			float: left;
		}
	}
}

.nav {
	position: absolute;
	left: 0;
	right: 0;
	top: 60px;
	width: 100%;
	transform: translateY(0);
	transition: transform .35s ease-in;

	&.is_stuck {
		position: fixed!important;
		top: 0!important;
		bottom: auto!important;
	}

	@include tablet {
		top: 75px;
	}

	@include desktop {
		// top: 125px;
		top: auto;
		position: relative;
		background: $green;
	}
}

// .header__logos {
// 	max-width: 400px;
// 	float: left;

// 	@include desktop {
// 		padding: 20px 0;
// 		height:
// 	}
// }

.header__gov {
	text-align: right;
	display: inline-block;
	float: right;
	margin-bottom: 10px;
}

.gov-links {
	list-style: none;
	margin: 0;
	padding: 5px 0;

	li {
		display: inline-block;
		border-right: 1px solid $bodycolor;
		line-height: 1;

		&:last-child {
			border: 0;
			a {
				padding-right: 0;
			}
		}
	}

	a {
		display: block;
		padding: 0 10px 0 8px;
		font-size: (14/$base) * 1em;

		&:hover,
		&:focus {
			text-decoration: underline;
		}
	}
}

.font-resizer {
	margin-top: 10px;
	margin-right: 10px;
	display: inline-block;
	position: relative;

	.js-resizer {
		text-align: center;
		height: 36px;
		width: 20px;
		padding: 0;
		display: inline-block;
		vertical-align: top;
		position: relative;
		border: 0;
		background: transparent;
		color: $grey3;
		cursor: pointer;

		&.is-active {
			color: $green;
		}

		&[data-size="big"] {
			font-size: 1.2em;
		}

		&[data-size="bigger"] {
			font-size: 1.4em;
		}

		.icon {
			position: absolute;
			bottom: 5px;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	.btn-notification {
		background: #fff;
		border: 0;
		width: 42px;
		height: 35px;
		font-size: 2em;
		color: $green;
		outline: 0;
		cursor: pointer;

		// @include tablet {
		// 	height: 75px;
		// 	top: -75px;
		// }

		@include desktop {
			background: transparent;
			font-size: 2em;
			top: 0;
			color: $grey5;
			z-index: 3;
		}

		&.is-active {
			background: $bodycolor;

			.circle {
				opacity: 0;
			}

			@include desktop {
				background: transparent;
			}
		}
	}
}

.circle {
	width: 17px;
	height: 17px;
	border: 1px solid #fff;
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	background: $green;
	border-radius: 50%;
	opacity: 1;
	transition: opacity .25s ease-in;
	color: #fff;
	font-size: 10px;
	text-align: center;
	line-height: 17px;

	@include desktop {
		top: 10px;
	}
}

.notification-bar {
	background: #fff;
	color: $text;
	padding: 15px 20px 15px 0;
	position: absolute;
	left: 0;
	width: 100%;
	display: none;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	font-size: (15/ $base) * 1em;

	@include desktop {
		padding: 15px 0;
		// text-align: center;
		position: relative;

		p {
			padding-right: 20px;
			padding-left: 5px;
		}
	}

	p {
		margin: 0;
	}

	.js-close-notification {
		position: absolute;
		right: -10px;
		top: 0;
		border: 0;
		background: transparent;
		font-size: 1.2em;

		@include desktop {
			right: 25px;
		}
	}
}

.notication-container {
	position: relative;

	.btn-notification {
		position: absolute;
		padding: 5px;
		text-align: center;
		background: #fff;
		border: 0;
		width: 42px;
		height: 60px;
		right: 24px;
		top: -60px;
		font-size: 2em;
		color: $grey5;
		outline: 0;
		cursor: pointer;

		@include tablet {
			height: 75px;
			top: -75px;
		}

		&.is-active {
			background: $grey1;
		}
	}

	.circle {
		top: -39px;
		right: 25px;
		z-index: 3;
	}
}

.social-media {
	border-top: 1px solid $grey2;

	.social-links {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		list-style: none;
		font-size: 2em;
		padding: 0;
		margin: 0 0 20px;
		width: 75%;

		@include desktop {
			font-size: 1.7em;
		}

		@include tablet {
			width: 60%;
		}

		li {

			@include desktop {
				width: 60px;
			}

			.social-link {
				color: #fff;
				border-radius: 100%;
				width: 50px;
				height: 50px;
				display: inline-block;

				@include desktop {
					width: 44px;
					height: 44px;
				}
			}

			.social-facebook {
				background: $facebook;
			}

			.social-youtube {
				background: $youtube;
			}

			.social-flickr {
				background: #fff;

				.path1, .path2  {
					display: inline-block;
				}

				@include desktop {
					background: $bodycolor;
				}
			}

			i {
				padding: 9px;
				line-height: 50px;

				@include desktop {
					line-height: 45px;
				}
			}
		}
	}

	@include desktop {
		border-top: none;
	}
}

.no-flexbox .social-links {
	display: block;

	li {
		display: inline-block;
		width: 30%;
	}
}