$icomoon-font-path: "fonts" !default;

$icon-minus-sign: "\e919";
$icon-plus-sign: "\e91a";
$icon-filter: "\e918";
$icon-ask: "\e900";
$icon-back-to-top: "\e901";
$icon-close: "\e902";
$icon-dropdown: "\e903";
$icon-email: "\e904";
$icon-facebook-black: "\e905";
$icon-facebook-white: "\e906";
$icon-flickr-path1: "\e907";
$icon-flickr-path2: "\e908";
$icon-google-plus: "\e909";
$icon-home2: "\e90a";
$icon-left-arrow: "\e90b";
$icon-menu: "\e90c";
$icon-notification: "\e90d";
$icon-play: "\e90e";
$icon-quote: "\e90f";
$icon-right-arrow: "\e910";
$icon-search: "\e911";
$icon-chevron-up: "\e912";
$icon-tag: "\e913";
$icon-text-resize: "\e914";
$icon-twitter: "\e915";
$icon-youtube: "\e916";
$icon-home: "\e917";
$icon-google-plus2: "\ea8b";
$icon-pinterest: "\ead1";

